:root {
    --bg-primary-color: #dcdcdc;
    --bg-secondary-color: #ffffff;
    --bg-tertiary-color: #000033;
    --headline-color: #0d0d0d;
    --font-color: #2a2a2a;
    --button-color: #ff8e3c;
    --button-text-color: #0d0d0d;
    --shadow-color: #0d0d0d51;

    font-size: 16px;
    color: var(--font-color);
}

* {
    margin: 0;
    padding: 0;
    font-family:  Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: minmax(200px,0.75fr) 2fr 2fr 1fr;
    grid-template-rows: 150px 1fr auto;
    min-height: 100vh;
}

img.icon {
    width: 20px;
    height: 20px;
}

/* ------------------- sidebar ------------------- */

.sidebar{
    grid-area: 1 / 1 / span 3 / span 1;
    background-color: var(--bg-secondary-color);
    
    display: grid;
    grid-template-rows: auto 1fr;
}

.sidebar__logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    gap: 20px;
}

.sidebar__logo-image {
    width: 40px;
    height: 40px;
}

.sidebar__logo-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.sidebar__menu-container {
    display: grid;
    padding-top: 50px;
    grid-auto-rows: 50px;
    align-items: center;
}

.sidebar__menu-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-left: 40px;
}

.sidebar__menu-image {
    width: 25px;
    height: 25px;
}

.sidebar__menu-name {
    font-size: 1rem;
    font-weight: bold;
}


/* ------------------- header ------------------- */
.header {
    grid-area: 1 / 2 / span 1 / span 3;
    background-color: var(--bg-tertiary-color);

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
}

.header__user-input-container {
    grid-area: 1 / 1 / span 2 / span 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,1fr);
    padding-left: 10%;

}

.header__search-wrapper {
    grid-area: 1 / 1 / span 1 / span 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header__search-image,
.header__notification-image {
    width: 30px;
    height: 30px;
}

.header__search-bar {
    flex: 0 1 clamp(30%, 400px, 60%);
    height: 2rem;
    font-size: 1.2rem;
    border-radius: 20px;
    outline: solid 1px var(--shadow-color);
    background-color: var(--bg-primary-color);
    border: none;
    padding: 10px;
}

.header__search-bar:focus {
    background-color: var(--bg-secondary-color);
}

.header__button-wrapper {
    grid-area: 2 / 1 / span 1 / span 1;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header__button {
    height: 2.5rem;
    width: 5rem;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.header__button--red {
    background-color: var(--button-color);
}

.header__user-management-container {
    grid-area: 1 / 2 / span 2 / span 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
}

.header__user-management-wrapper {    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header__profile-image {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
}


/* ------------------- project ------------------- */
.project {
    grid-area: 2 / 2 / span 2 / span 2 ;
    background-color: var(--bg-primary-color);
}

.project__container {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.project__title,
.announcement__title,
.trending__title {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

.project__card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
}

.project__card-wrapper {
    height: 250px;
    border: solid 2px var(--headline-color);
    border-radius: 13px;
    background-color: var(--bg-secondary-color);

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    box-shadow: 3px 3px var(--shadow-color);
    transition: box-shadow 0.3s;
    cursor: pointer;
}

.project__card-wrapper:hover {
    box-shadow: 8px 8px var(--bg-tertiary-color);
}

.project__card-color-wrapper {
    grid-area: 1 / 1 / span 2 / span 1;
    width: 10px;
    border-radius: 20px 0 0 20px;

    background-image: linear-gradient(var(--bg-tertiary-color), var(--bg-secondary-color));

}

.project__card-text-wrapper {
    padding: 1rem;
}

.project__card-title,
.announcement__card-title,
.trending__card-title {
    font-weight: bold;
    font-size: 1rem;
}

.project__card-description {
    padding-top: .5rem;
    font-size: 0.9rem;
}

.project__card-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
}
/* ------------------- announcement ------------------- */
.announcement {
    background-color: var(--bg-primary-color);
    padding: 1rem;

    display: grid;
    grid-template-rows: auto 1fr;
}

.announcement__title {
    grid-area: 1 / 1 / span 1 / span 1;
}

.announcement__card-container {    
    grid-area: 2 / 1 / span 1 / span 1;
    border: solid 2px var(--headline-color);
    border-radius: 13px;
    background-color: var(--bg-secondary-color);

    display: grid;
    grid-auto-rows: 1fr;
    padding: 1rem;
}

.announcement__card-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.announcement__card-wrapper:nth-child(even) {
    border-top: solid 1px var(--shadow-color);
    border-bottom: solid 1px var(--shadow-color);
}

.announcement__card-title {
    justify-self: center;
}

.announcement__card-description {
    font-size: 0.9rem;
}

/* ------------------- trending ------------------- */
.trending {
    background-color: var(--bg-primary-color);
    /* background-color: lightcoral; */
    padding: 1rem;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.trending__title {
    grid-area: 1 / 1 / span 1 / span 1;
}

.trending__card-container{
    grid-area: 2 / 1 / span 1 / span 1;
    border: solid 2px var(--headline-color);
    border-radius: 13px;
    background-color: var(--bg-secondary-color);

    display: grid;
    grid-auto-rows: 1fr;
    padding: 1rem;
    gap: 2rem;
}

.trending__card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.trending__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


